body{
    background-color: #c9f5e3;
}
.uno{
    padding: 10px;
}
.dos{
    padding: 10px;
}
.warning{
    padding: 10px;
    background-color: #ff7e6d;
}
.tres{
    padding: 10px;
}
#cuatro{
    background-color: #ffff;
    font-size: 18px;
    padding: 10px;
    border: 4px dashed black;
    border-radius: 4px;
}
.cinco{
    padding: 10px;
}
